* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}



body {
    background: #0b0d0f;
    /* note to self: normal text color */
    color:#d1d5db;

    min-height:100vh;

    display:flex;

    flex-direction:column;
}



header {

    background: #222;

    position: sticky;
    top: 0;
    z-index: 1000;

    padding: 15px 30px;
    border-bottom: 1px solid #788496;
    box-shadow:
        0 5px 20px rgba(0, 0, 0, .4);

}



.navbar {

    display: flex;

    justify-content: space-between;
    align-items: left;

    flex-wrap: wrap;

}


.logo-section {

    display: flex;

    align-items: left;

    gap: 20px;

}



.logo-section h2 {

  /*  color: white;*/

      /* Define the gradient colors and direction */
  background: linear-gradient(70deg,  rgb(255, 113, 48), #ffecf3);
  
  /* Clip the background to the text shape */
  background-clip: text;
  
  /* Make the text color transparent to reveal the gradient */
  color: transparent;

}

.logo-section p {

    color: #cbd5e1;

    margin-top: 5px;

}

/* NAVIGATION */

nav {

    display: flex;

    justify-content: left;
    align-items: center;

    gap: 20px;

    flex-wrap: nowrap;

}

nav a {

    color: white;

    text-decoration: none;

    font-weight: bold;

    transition: .3s;

    white-space: nowrap;

}

nav a:hover {

    /*color:#21ff85;*/
    color:
        rgb(255, 113, 48);

}



#home{

    display:flex;

    align-items:center;

    gap:30px;

    flex-wrap:wrap;

}

#home div{

    max-width:600px;

}


/* ctrlf for header */

h2 {
     margin:0 0 10px 0;
    /*color:
        rgb(255, 113, 48);
    /*border-bottom:  1px solid #788496;*/

          /* Define the gradient colors and direction */
  background: linear-gradient(70deg, rgb(255, 113, 48), #ffecf3);
  
  /* Clip the background to the text shape */
  background-clip: text;
  
  /* Make the text color transparent to reveal the gradient */
  color: transparent;

}

h3 {

    color: rgb(255, 113, 48);
    
    margin-top:20px;
    margin-bottom:10px;
}


h4 {

    color: white;

}
p{

    margin: 5px 0;

}

a {

    color: #d1d5db;
    text-decoration:none;
    transition:.3s;

}

a:hover{

    /*color:#21ff85;*/
    color:
        rgb(255, 113, 48);

}


.card {

    width: 75%;

    margin: 20px auto;

    padding: 30px;

    /*background: #1f2937;*/

    border: 1px solid #788496;

    border-radius: 15px;

    box-shadow:
        0 0 15px rgba(0, 0, 0, .5);

}

ul{
    padding-left:40px;
}

li{
    margin-bottom:8px;
}


.profile {

    width: 180px;

    border-radius: 50%;

    display: block;

    margin: auto;

}


.about-container{

    display:flex;

    align-items:flex-start;

    gap:30px;

}

.about-content{

    flex:1;

}

#about img{

    /*float:left;*/

    margin-right:25px;

    margin-bottom:15px;

    border-radius:20px;

    /*border-radius:50%;*/

    flex-shrink:0;

}


#contact table {


    border-top: 1px solid #788496;
    margin: 10px 0;
    border-collapse:collapse;

}

#contact td {
    border-bottom: 1px solid #788496;
    padding: 8px;

}

/*td, th{
                
    border-bottom: 1px solid #788496;
           
        }*/

#contact td:first-child {

    width: 120px;

    color: white;

    font-weight: bold;

}

.socials a {

    color: white;

    margin-right: 20px;

    text-decoration: none;

}

footer {

    text-align: left;
    border-top: 1px solid #788496;
    padding: 30px;
    padding-left: 300px;
    margin-top:auto;

}



/* ctrlf for PROJECTS */

.projects-grid {

    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    gap: 30px;

    margin-top: 30px;

}

.project-card {

    width: 300px;

    background: #222;

    border-radius: 20px;

    overflow: hidden;

    cursor: pointer;

    transition: .3s;

}

.project-card:hover {

    transform:
        translateY(-10px);

    box-shadow:
        0 0 5px rgb(255, 113, 48);

}

.project-card img {

    width: 100%;

    height: 220px;

    object-fit: cover;

}

.project-card h3 {

    text-align: center;

    padding: 20px;

}


.modal {

    display: none;

    position: fixed;

    inset: 0;

    background:
        rgba(26, 36, 61, 0.5);

    z-index: 999;

}

.modal-content {

    width: 70%;

    max-width: 800px;

    max-height: 80vh;

    overflow-y: auto;

    margin: 70px auto;

    background: #222;

    padding: 30px;

    border-radius: 25px;

    position: relative;

    animation: popup .3s;

}

.modal-content img {

    display: block;

    width: 70%;

    max-height: 300px;

    object-fit: contain;

    margin: 0 auto 25px auto;

    border-radius: 15px;

}
.modal-gif{

    width:100%;

    max-width:700px;

    display:block;

    margin:20px auto;

    border-radius:15px;

}



.close {

    position: absolute;

    right: 20px;

    top: 10px;

    font-size: 40px;

    cursor: pointer;

}

/* ANIMATION */

@keyframes popup {

    from {

        opacity: 0;

        transform:
            scale(.8);

    }

    to {

        opacity: 1;

        transform:
            scale(1);

    }

}


@media(max-width:768px) {

    .navbar {

        flex-direction: column;

        gap: 20px;

    }

    nav {

        gap: 12px;

        overflow-x: auto;

    }

    nav a {

        font-size: 14px;

    }

    .modal-content {

        width: 90%;

    }

    .modal-content img {

        width: 100%;

    }


    .about-container{

        flex-direction:column;

        align-items:flex-start;

    }

    #about img{

        margin:0 0 20px 0;

    }
    
    footer{

        padding-left:50px;

    }



}